*
{
    margin: 0;
    padding: 0;
}
body{
   
    background: url(bg1.jfif) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 70px;
}
.heading h1{
    color: white;
    font-family: sans-serif;
    }
.heading h2{
    color: orange;
    font-family: sans-serif;
}
#head{
    font-size: 1.8em;
}
#subheading{
    font-size: 20px;
    margin-top: 10px;
}
#content1{
    width: 90%;
    margin-top: auto;
}
form{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin:auto;
    margin-top: 10px;
    padding-bottom: 50px;
}

form .box{
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border:0;
    border-radius: 5px;
}
#option1 select{
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    border: 0;
}
#option2 select{
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    border: 0;
}
form input[type="submit"]
{
    border:none;
    outline: none;
    height: 3em;
    width: 98.5%;
    background:#fb2525;
    color:#fff;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    top: 11px;
}
form input[type="submit"]:hover
{
    cursor: pointer;
    background:#ffc107;
    color:#000;

}
#content1 textarea{
    width: 98.5%;
    height: 125px;
    position: relative;
    bottom: 17px;
}